if SHIELD_beedev_LEFT

config ZMK_KEYBOARD_NAME
    default "beedev"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_beedev_LEFT || SHIELD_beedev_RIGHT

config ZMK_SPLIT
    default y

endif